
h1 {
    margin: 25px 5px 20px 25px;
}

form {
    margin: 0 5px 20px 25px;
    width: 525px;
    padding: 25px 30px;
    border: solid 1px;

    mat-form-field.form-container {
    display: block;
    margin: 15px 0 20px 25px;

    mat-label {
        font-weight: 600;
        text-transform: capitalize;
    }
}
    
}

button.save-items-button {
    margin-left: 25px;
    padding: 8px;
    position: absolute;
}

div.order-summary {
    width: 250px;
    padding: 5px;
    margin: 20px 5px 5px 10px;
    display: inline-block;
    position: relative;
    left: 650px;
    bottom: 490px;

    .mat-card {
        background-color: aliceblue;

        .mat-card-title {
            font-weight: 900;
        }
    }
}