div.tau {
    width: fit-content;
    margin-left: 35%;
    padding: 8px;
    font-size: 200px;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    background: linear-gradient(180deg, #fa8880 130px, transparent 0px);
    box-shadow: 10px 10px grey;
    -webkit-text-fill-color: darkred;
}

span.title {
    margin: 45%;
    position: relative;
    top: 20px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}