<header>
  <nav>
    <div class="logo-container">
      <img
        src="assets/images/logo-final.jpg"
        alt="setok_logo"
        width="75"
        height="60"
      />
      <label class="logo-txt">setok</label>
    </div>
    <input type="checkbox" id="check" [(ngModel)]="menuOpen"/>
    <label for="check" class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </label>
    <ul class="nav-list">
      <li *ngFor="let navButton of getNavEntries()">
        <a routerLink={{navButton[1]}} class="nav-link" (click)="closeMenu()">{{navButton[0]}}</a>
      </li>
    </ul>
  </nav>
</header>
