h1 {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.mission-vision-section {
    display: block;
    width: 600px;
    align-items: center;
    text-align: center;
    margin: auto;
}