<div class="mission-vision-section">
    <h1>SETOK</h1>

        <h2>Why Setok?</h2>
        <span>You can now replenish your stock with ease!</span>
        <h2>Mission</h2>
        <div>
            Empowering restaurants through innovative technology, our mission is to streamline stock replenishment
            processes, providing seamless and efficient solutions. We are committed to simplifying inventory management,
            enhancing operational excellence, and fostering sustainable growth for our valued partners in the culinary
            industry.
        </div>
        <h2>Vision</h2>
        <div>
            As pioneers in revolutionizing stock replenishment for restaurants, we envision a future where every
            culinary
            establishment experiences the ease of managing supplies effortlessly. Our vision is to be the trusted
            partner,
            driving operational efficiency, and contributing to the success of restaurants worldwide. Through continuous
            innovation, we aim to set new standards in the industry, making stock replenishment a catalyst for culinary
            excellence.
        </div>
</div>