<h1>User Registration</h1>
<form [formGroup]="formGroup" class="user-registration-form">
    <mat-form-field *ngFor="let formControlLabel of formOrder" class="form-container">
      <mat-label>{{ formControlLabel.labelName }}</mat-label>
      <input [attr.type]="formControlLabel.controlName === 'pass' || formControlLabel.controlName === 'passValidation' ? 'password' : '' "
      matInput formControlName="{{ formControlLabel.controlName }}">
      <mat-error *ngIf="formGroup.get(formControlLabel.controlName)">{{ formService.getErrorMessage(formGroup.get(formControlLabel.controlName))}}</mat-error>
    </mat-form-field>
</form>
<button  mat-button color="primary" (click)="submitForm(formGroup)" class="save-items-button">Save</button>