@import '../../general-styling.scss';

h1 {
    margin: 25px 5px 20px 25px;
}

form.user-registration-form {
    margin: 0 5px 5px 25px;
    width: 525px;
    padding: 25px 30px;
    border: solid 1px;
}

button {
  margin: 10px 25px;
}

@media (max-width: 650px) {
  form.user-registration-form {
    width: 75%;
    padding-left: 5px;
  }
}

@media (max-width: 400px) {
  form.user-registration-form {
    width: 60%;
    padding: 5px 20px 5px 0;
  }
}
