h1 {
    margin: 0 5px 5px 25px;
}

form {
    margin: 0 5px 5px 5px;
    width: 500px;

    mat-form-field.form-container {
    display: block;
    margin: 15px 0 20px 25px;

    mat-label {
        font-weight: 600;
        text-transform: capitalize;
        }
    }
}